# thanks to https://marcjenkins.co.uk/a-wordpress-git-workflow/  for his tips !

# Thanks to : https://gist.github.com/jdbartlett/444295 
 
# Ignore every php in the root as they are Wordpress specific configuration or security intend
/*.php
# Ignore license.txt and readme.html  as they are Wordpress specific
/license.txt
/readme.html

# Ignore wp-admin as it is wordpress content
/wp-admin/
# Ignore wp-includes as it is Wordpress content
/wp-includes/

# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories. 
wp-content/* 
!wp-content/plugins/ 
!wp-content/themes/ 
  
# Ignore everything in the "plugins" directory, except the plugins you specify 
wp-content/plugins/* 
  
# Ignore everything in the "themes" directory, except the themes you specify 
wp-content/themes/* 
!wp-content/themes/hellodorado/ 

